/*

    goes with tweet.twig

    v1.4.1 supports
    - text tweets
    - retweets
    - links in the tweet
    - attached media (if `images` is "1" or true)
    - web intents
    - avatar support (if `avatars` is "1" or true)
    - verified users

*/

.tweet {
    //
    // <site values>
    // customize these
    // twitter's defaults are used as the default
    //
    
    // colors: all of these are required
    @tweet-hover-bg: @twitter-hover-bg;
    @tweet-radius: @twitter-radius;
    @tweet-transition: @twitter-transition;
    @tweet-border-weight: @twitter-border-weight;
    @tweet-border-style: @twitter-border-style;
    @tweet-border-color: @twitter-border-color;
    
    padding: @twitter-padding;
    line-height: @twitter-line-height;
    
    //mixins: all of these are required (but they can be empty)
    .tweet-meta-styles() {// e.g. font size and color
        .twitter-meta-styles
    }
    .tweet-meta-link-styles() {}
    .tweet-meta-link-hover-styles() {// e.g. color, decoration
        .twitter-meta-link-hover-styles
    }
    .tweet-meta-user-name-styles() {// e.g. font size, weight, color
        .twitter-meta-user-name-styles
    }
    .tweet-text-styles() {//e.g. font size, color
        .twitter-text-styles
    }
    .tweet-text-link-styles() {// styles applied to links inside the tweet text, e.g. color, hover effects
        .twitter-text-link-styles
    }
    .tweet-text-hashtag-link-styles(){}
    .tweet-text-at-link-styles(){}
    .tweet-data-separator-styles() {// e.g. before content bullet
        .twitter-date-separator-styles
    }
    .tweet-date-styles() {}
    //</site values>




    // --------------------------------
    //
    // <twitter's values>
    // don't change these
    //
    @twitter-green: #19CF86;
    @twitter-red: #E81C4F;
    @twitter-dkgray: #8899a6;
    @twitter-gray: #e1e8ed;
    @twitter-ltgray: #f5f8fa;
    @twitter-black: #292f33;
    @twitter-blue: #0084B4;
    @twitter-ltblue: #88c9f9;
    @twitter-hover-bg: @twitter-ltgray;
    @twitter-radius: 5px;
    @twitter-transition: 100ms;
    @twitter-line-height: 1.5;
    @twitter-padding: 10px;
    @twitter-border-weight: 1px;
    @twitter-border-style: solid;
    @twitter-border-color: @twitter-gray;
    
    .twitter-meta-styles() {
        font-size: 13px;
        color: @twitter-dkgray;
        .tweet-retweeted {
            .tweet-badge {
                fill: @twitter-dkgray
            }
        }
    }
    .twitter-meta-link-hover-styles() {
        color: @twitter-blue;
        text-decoration: underline
    }
    .twitter-meta-user-name-styles {
        font-size: 14px;
        font-weight: 700;
        color: @twitter-black
    }
    .twitter-text-styles() {
        font-size: 16px;
        color: @twitter-black;
    }
    .twitter-text-link-styles() {
        color: @twitter-blue;
        &:hover {
            text-decoration: underline
        }
    }
    .twitter-date-separator-styles() {
        &:before {
            content:'\2022'
        }
    }
    // </twitter's values>


    // --------------------------------
    //
    // tweet styles
    // in almost all cases, these styles won't need to be fiddled with
    //
    
    .opacity(@factor) {// from https://github.com/JoelSutherland/LESS-Prefixer
        @iefactor: @factor*100;
        filter: ~"alpha(opacity=@{iefactor})";
        opacity: @factor;
    }


    position: relative;
    z-index: 0;
    @twitter-border: ~'@{tweet-border-weight} @{tweet-border-style} @{tweet-border-color}';
    border: @twitter-border;
    border-top: 0;
    
    transition: @tweet-transition;
    &:hover {
        background: @tweet-hover-bg;
        transition: @tweet-transition
    }
    
    .tweets & {
        &:first-child, &:last-child {
            background-clip: padding-box
        }
        &:first-child {
            border-top: @twitter-border;
            border-radius: @tweet-radius @tweet-radius 0 0
        }
        &:last-child {
            border-radius: 0 0 @tweet-radius @tweet-radius
        }
    }
    
    span {
        white-space: nowrap
    }
    a {
        .tweet-meta-link-styles;
        &:hover {
            *:not(.tweet-no-hover) {
                .tweet-meta-link-hover-styles;
            }
        }
    }
    .image {
        height: 0;
        border-radius: @tweet-radius;
        background-clip: padding-box
    }
    
    .tweet-verified {
        width: 1em;
        height: auto;
        display: inline-block;
        vertical-align: middle;
        margin-left: 2px;
    }
    .tweet-badge {
        fill: @twitter-ltblue
    }
    
    .tweet-meta {
        margin-bottom: 10px;
        .tweet-meta-styles;
        display: table;
    }
        .tweet-retweeted {
            display: block;
            margin-bottom: 5px;
            &:hover {
                *:not(.tweet-no-hover) {
                    .tweet-meta-link-hover-styles;
                }
                .tweet-badge {
                    fill: @twitter-ltblue
                }
            }
        }
    
    [class*='tweet-user'] {
        display: table;
    }
    .tweet-user-avatar, .tweet-user-info {
        display: table-cell;
        vertical-align: top;
    }
    .tweet-user-avatar {
        width: 36px;
        img {
            border-radius: @tweet-radius;
        }
    }   
        .tweet-user-name {
            .tweet-meta-user-name-styles
        }
        .tweet-date-separator {
            display: inline-block;
            .tweet-data-separator-styles
        }
        .tweet-date {
            .tweet-date-styles
        }
    
        .tweet-user-with-avatar {
            .tweet-user-info {
                padding-left: 10px
            }
            .tweet-user-name {
                display: block
            }
        }
    
    .tweet-text {
        .tweet-text-styles;
        a {
            .tweet-text-link-styles;
            // display: inline-block;
            // position: relative;
            // z-index: 1;
            &.tweet-hashtag {
                .tweet-text-hashtag-link-styles
            }
            &.tweet-at {
                .tweet-text-at-link-styles
            }
        }
    }
    .tweet-media {
        margin-top: 10px;
        .tweet-image {
            width: 100%;
            height: auto
        }
    }
    
    .tweet-intents {
        margin-top: 10px;
        a {
            display: inline-block;
            margin-right: 8px;
            
            @height: 16;
            @factor: @height / 72;
            fill: #AAB8C2;
            width: 65px * @factor;
            height: 72px * @factor;
            
            &, * {
                transition: 0ms;
                &:hover {
                    transition: 0ms
                }
            }
            &:hover {
                fill: @twitter-blue;
            }
            &:active {
                .opacity(.5)
            }
            &:last-child {
                margin-right: 0;
            }
            &.tweet-retweet {
                width: 75px * @factor;
                &:hover {
                    fill: @twitter-green;
                }
            }
            &.tweet-like {
                width: 54px * @factor;
                &:hover {
                    fill: @twitter-red;
                }
            }
        }
    }
}
